<mat-sidenav-container class="shell" [hasBackdrop]="isMobile()">
  <mat-sidenav
    class="shell-sidenav"
    [mode]="isMobile() ? 'over' : 'side'"
    [opened]="!isMobile() || sidebarOpen()"
    [fixedInViewport]="isMobile()"
    fixedTopGap="0"
    (openedChange)="sidebarOpen.set($event)"
  >
    <app-sidebar [isMobile]="isMobile()" (closeRequested)="sidebarOpen.set(false)" />
  </mat-sidenav>

  <mat-sidenav-content class="shell-content">
    <app-header [isMobile]="isMobile()" (menuToggle)="sidebarOpen.set(true)" />
    <main class="shell-main">
      <router-outlet />
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
